// Шрифты
$primary-ff: 'Raleway';
$secondary-ff: 'Montserrat';
$ff-main: $primary-ff, $secondary-ff, sans-serif;

// Цвета
$gray: #888;
$black: #000;
$white: #fff;
$blue: #3498db;
$green: #2ecc71;
$red: #e74c3c;
$yellow: #f1c40f;
$purple: #9b59b6;
$orange: #e67e22;
$teal: #1abc9c;
